{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Intorudction_KSW_program</title>
    </head>
    <body>
        <h1>KSW_가을학기</h1>
        <ul>
            <li><a href="https://www.purdue.edu/">Purdue University</a></li>
            <img src="{% static 'intro_program/spp_poster.jpeg' %}">
        </ul>
        <ol>
            <li>프로그램 개요</li>
            - 美 현지 대학생 및 SW산업계 엔지니어와의 캡스톤디자인 프로젝트 수행을 통한 창의적 문제해결능력 및 프로젝트 관리기법 등을 교육
            <br>- 해외 우수대학의 인프라 및 기술적 강점을 적극적으로 활용함으로써 국내에서 경험하기 힘든 다양한 기술 구현 및 교육을 제공
            <br><br>
            <li>교육 내용</li>
            - 최신 SW·IT 기술 관련 캡스톤 디자인 프로젝트 수행, 최신기술 세미나 참석, 전공이론 교육, 영어교육 등
            <br><br>
            <li>모집인원 및 비용 지원</li>
            참가비용 : SW중심대학사업단에서 지원
            <br>모집 인원 : 2명
            <br><br>
            <li>신청 자격</li>
            - 소프트웨어학과, 정보통신공학부, 컴퓨터공학과 소속 학부생(2022-1학기 기준 3~4학년 재학생)
            <br>※ 휴학생, 교환학생, 졸업유예생, 초과학기생 지원 불가
            <br><br>
            <li>신청시 유의사항 </li>
            - 참가 신청 시, 여름방학 프로그램 또는 가을학기 프로그램 중 하나를 선택하여 신청하길 바람.
            <br>- 선발 후, 참가자 해외교육 지원(사전교육)의 일환으로 진행되는 ‘글로컬 챌린저(Glocal Challenger) 양성 프로그램’에 참여가 필수이며, 해당 프로그램은 [붙임2]를 참고하길 바람.
            <br>- 프로그램 주최 측에서 프로그램 종료 후, 평가를 시행하여 그 결과를 대학별 통보 예정이며, 특히 교육생 평가점수가 60점 미만 또는 벌점 15점 이상일 경우 해당 교육생의 정부지원금이 모두 환수될 예정이니, 이를 확인한 후 신청하길 바람.
            <br><br>
            <li>제출 서류 </li>
            -해외 교육 및 연수 프로그램 참가 신청서 1부.
            <br>-개인정보 이용동의서 1부.
            <br>-지원요약서 1부.
            <br>-자기소개서/지원동기/학업활동계획 1부.
            <br>-성적증명서 1부.
            <br>-공인영어성적, TOPCIT 등 증명서 사본 각 1부. (해당자)          
        </ol>
    </body>
</html>