<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Intorudction_SW_Pioneer</title>
    </head>
    <body>
        <h1>SPP_2기</h1>
        <ul>
            <li><a href="https://www.usc.edu/">University of Southern California</a></li>
            <li><img src="usc_logo.jpeg" width="100%"/></li>
            <li><img src="usc_logo.png" width="100%"/></li>
            <li><img src="spp_poster.jpeg" width="100%"/></li>
        </ul>
        
        <ol>
            <li>교육 장소</li>
            미국 로스엔젤레스(USC), 샌프란시스코(실리콘 밸리)등
            <br><br>
            <li>교육 일정</li>
            07.03(일) - 07.31(일).4주
            <br><br>
            <li>교육 대상</li>
            SW 중심대학 소속학과(부) 3-4학년 재학생
            <br>9개 대학, 총 24명
            <br><br>
            <li>교육 내용</li>
            - USC에서 Data Science와 AI를 주제로 프로젝트 기반 수업 참여(3주)
            <br>- SW Industry Tour : 실리콘밸리 내 기업 견학 및 세미나 참여(1주)
            <br>- 1day 해커톤 참가를 통한 한/미 학생간 SW지식 교류 및 전문가 멘토링 기회 제공
            <br>- USC 공대학장 명의 수료증 및 학생증 발급
            <br><br>
            <li>비용 지원</li>
            참가비용 : SW중심대학사업단에서 지원
            <br><br>         
        </ol>
    </body>
</html>